backend/node_modules
node_modules
package-lock.json
backend/package-lock.json
web/node_modules
.gitignore
.env
backend/.env
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/